<article id="profile">
  <h1><%= @user.title %></h1>
  <header>
    <%= @user.avatar %>
    <ul>
      <li>Member Since: <%= @user.member_since %></li>
      <li>Website: <%= @user.website %></li>
      <li>Github:<%= @user.github %></li>
      <li>Twitter:<%= @user.twitter %></li>
    </ul>
  </header>
  <content class="bio">
    <h2>Bio</h2>
    <% @user.bio %>
  </content>
</article>
