<article id="profile">
  <h1><%= @user.linked_name %></h1>
  <header>
    <%= @user.avatar %>
    <ul>
      <li>Member Since: <%= @user.member_since %></li>
      <li>Website: <%= @user.website %></li>
      <li>Github: <%= @user.github %></li>
      <li>Twitter: <%= @user.twitter %></li>
    </ul>
  </header>
  <content class="bio">
    <h2>Bio</h2>
    <p>
      <%= @user.bio %>
      <%-#=raw Redcarpet.new(@user.bio, :hard_wrap, :filter_html, :autolink).to_html %>
    </p>
  </content>
</article>
